In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
Ans :
    mongodb is a nosql type database and it is non relational data base.
    a database that does not use the tabular schema of rows and columns found in most traditional database systems
    SQL is preffered for tabuler form database but mongodb is for any type of data wherever we want to store any image and video file it is always prefferd to used mongodb

In [ ]:
Q2. State and Explain the features of MongoDB.
Ans :
    1. Document Oriented
    2. Schema-less Database
    3. Scalability
    4. Indexing
    5. Aggregation
    6. High Performance

In [ ]:
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [15]:
!pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)

In [16]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://arindam8345075860:Arindam12345@cluster0.uif7yz4.mongodb.net/?retryWrites=true&w=majority")
db = client['cricket_bat']
review_col = db['show_bat']
review_col.insert_one({'arindam':'nike'})

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
list_ = [
  { "_id": 10, "name": "Vipul", "Roll No": "10010", "Branch":"CSE"},
  { "_id": 9, "name": "Vikas", "Roll No": "10009", "Branch":"IT"},
  { "_id": 8, "name": "tery", "Roll No": "10008", "Branch":"ME"},
  { "_id": 7, "name": "arindam", "Roll No": "10007", "Branch":"ECE"},
]

review_col.insert_many(list_)

In [19]:
review_col.find_one({"name":"Yash"})

{'_id': 4, 'name': 'Yash', 'Roll No': '1004', 'Branch': 'ECE'}

In [20]:
review_col.find({"name":'Vishwash'})

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

we can use the curly bracket to pass query(key value pair) into ta mongodb data base to find what we want

In [21]:
review_col.find({'Branch':'ECE'})

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [24]:
ids=review_col.find().sort('_id')
for i in ids:
    print(i)

{'_id': 1, 'name': 'Vishwash', 'Roll No': '1001', 'Branch': 'CSE'}
{'_id': 2, 'name': 'Vishesh', 'Roll No': '1002', 'Branch': 'IT'}
{'_id': 3, 'name': 'Shivam', 'Roll No': '1003', 'Branch': 'ME'}
{'_id': 4, 'name': 'Yash', 'Roll No': '1004', 'Branch': 'ECE'}
{'_id': 9, 'name': 'Vikas', 'Roll No': '10009', 'Branch': 'IT'}
{'_id': 10, 'name': 'Vipul', 'Roll No': '10010', 'Branch': 'CSE'}
{'_id': ObjectId('64477c738245323b592a31ff'), 'arindam': 'nike'}
{'_id': ObjectId('6447806af0b7fd7f6daff807'), 'arindam': 'nike'}
{'_id': ObjectId('64478475a3004d2ef9c03558'), 'arindam': 'nike'}
{'_id': ObjectId('6447848aa3004d2ef9c0355a'), 'arindam': 'nike'}
{'_id': ObjectId('644784dfa3004d2ef9c0355c'), 'arindam': 'nike'}
{'_id': ObjectId('644786d9bd6ac99d8e4263d1'), 'arindam': 'nike'}
{'_id': ObjectId('644789e4bd6ac99d8e4263d3'), 'arindam': 'nike'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.


Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().
delete_one() is for delete only one data that are passing through quary
You can delete a table, or collection as it is called in MongoDB, by using the drop() method.