In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'big Data', 'data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [12]:
df[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans : there is a loc dunction used to take input as a column name but iloc used to take input in integer indexing way

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [13]:
import pandas as pd

# Given DataFrame
df = pd.DataFrame({'A': [10, 20, 30, 40], 'B': [50, 60, 70, 80]})

# Reindex variable
reindex = [3, 0, 1, 2]

# Reindexing the DataFrame
new_df = df.reindex(reindex)

# Output for new_df.loc[2]
print(new_df.loc[2])

# Output for new_df.iloc[2]
print(new_df.iloc[2])

A    30
B    70
Name: 2, dtype: int64
A    20
B    60
Name: 1, dtype: int64

In [16]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.198434  0.581949  0.602883  0.509851  0.722679  0.377893
2  0.980024  0.377056  0.860561  0.876206  0.711004  0.033793
3  0.451989  0.866963  0.466796  0.259954  0.595502  0.026532
4  0.306427  0.122988  0.750120  0.882952  0.832838  0.168515
5  0.952429  0.096538  0.115772  0.417484  0.019186  0.253352
6  0.467337  0.839541  0.927386  0.439658  0.061205  0.645016

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [24]:
for column in df1.columns:
    print(df1[column].mean())

0.5594401664816774
0.4808392038486688
0.6205864656960098
0.5643508263930339
0.4904024167815085
0.2508501378141207

In [25]:
df1['column_2'].std()

0.33896845590277336

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

To replace the data in the second row of the 'column_2' column in `df1` with a string variable, you can use the `loc` indexer along with assignment. Here's an example:

```python
df1.loc[2, 'column_2'] = 'string data of your choice'
```

Replace `'string data of your choice'` with the desired string value you want to assign to the second row of 'column_2'.

To find the mean of the 'column_2' column, you can use the `.mean()` function on that specific column:

```python
column_2_mean = df1['column_2'].mean()
print(column_2_mean)
```

Make sure that the column name 'column_2' is correct and matches the column name in your actual DataFrame. If you encounter errors while executing these steps, it could be due to the following reasons:

1. Incorrect column name: Double-check that the column name is spelled correctly and matches the column name in your DataFrame.
2. Non-numeric data: If there are non-numeric values present in 'column_2', the `mean()` function will raise an error. Ensure that the values in 'column_2' are numeric before calculating the mean.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?



Pandas provides several types of window functions, which can be used with the `.rolling()` method. Some common window functions include:

1. Moving Average (`.rolling().mean()`): Calculates the mean value of a window of data points.

2. Moving Sum (`.rolling().sum()`): Calculates the sum of a window of data points.

3. Moving Minimum (`.rolling().min()`): Finds the minimum value within a window of data points.

4. Moving Maximum (`.rolling().max()`): Finds the maximum value within a window of data points.

5. Moving Standard Deviation (`.rolling().std()`): Calculates the standard deviation of a window of data points.

6. Moving Quantiles (`.rolling().quantile()`): Calculates the specified quantile within a window of data points.

7. Exponential Moving Average (`.ewm().mean()`): Calculates the exponential moving average of a window of data points, giving more weight to recent values.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [26]:
import pandas as pd

In [31]:
current_date = pd.datetime.now().date()

/tmp/ipykernel_77/638019253.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now().date()

In [32]:
current_date

datetime.date(2023, 6, 21)

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [33]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to pandas Timestamp objects
timestamp1 = pd.Timestamp(date1)
timestamp2 = pd.Timestamp(date2)

# Calculate the time difference using pandas' timedelta
time_difference = timestamp2 - timestamp1

# Extract the days, hours, and minutes from the timedelta
days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds % 3600) // 60

# Display the result
print(f"The difference between {date1} and {date2} is:")
print(f"{days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD):  2020-06-15
Enter the second date (YYYY-MM-DD):  2021-07-21

The difference between 2020-06-15 and 2021-07-21 is:
401 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)

# Prompt the user to enter the column name and category order
column_name = input("Enter the name of the column to convert to categorical: ")
category_order = input("Enter the category order (comma-separated values): ").split(",")

# Convert the specified column to a categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)

# Sort the data based on the categorical column
sorted_data = data.sort_values(column_name)

# Display the sorted data
print(sorted_data)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)

# Convert the date column to datetime data type
data['Date'] = pd.to_datetime(data['Date'])

# Group the data by product category and date, and calculate the total sales
grouped_data = data.groupby(['Category', 'Date']).sum()['Sales'].unstack()

# Plot the stacked bar chart
plt.figure(figsize=(10, 6))
grouped_data.plot(kind='bar', stacked=True)

# Set labels and title
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')

# Show the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = data['Test Score'].mean()
median_score = data['Test Score'].median()
mode_scores = data['Test Score'].mode()

# Create a table to display the results
result_table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                             'Test Score': [mean_score, median_score, mode_scores]})

# Display the result table
print(result_table)